@import '~@angular/material/theming';
@include mat-core();

$fh-app-primary: mat-palette($mat-yellow);
$fh-app-secondary: mat-palette($mat-grey);
$fh-app-warn: mat-palette($mat-red);
 
$fh-app-theme: mat-light-theme(
  $fh-app-primary,
  $fh-app-secondary,
  $fh-app-warn
);
 
@include angular-material-theme($fh-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

