<div class="container">
    <div class="back-button">
        <a routerLink="/countries-listing">
            <i class="fas fa-arrow-left"></i>
            Back
        </a>
    </div>

    <div *ngIf="country">
        <div class="whole-country-wrapper">
            <div class="country-image-container">
                <img src="{{country.flag}}" alt="">
            </div>



            <div class="country-details-container">
                <div class="left-side-of-country-data">
                    <div class="country-name-heading">
                        <h1>
                            {{country.name}}
                        </h1>
                    </div>
                    <p>Native Name: <span> {{country?.nativeName}}</span></p>
                    <p>Population: <span> {{country?.population}}</span></p>
                    <p>Region: <span> {{country?.region}}</span></p>
                    <p>Sub Region: <span> {{country?.subregion}}</span></p>
                    <p>Capital: <span> {{country?.capital}}</span></p>
                </div>
                <div class="right-side-of-country-data">
                    <p>Top Level Domain: <span> {{country?.topLevelDomain[0]}}</span></p>
                    <p>Currencies: <span> {{country?.currencies[0].name}}</span></p>
                        <p>Languages: <span *ngFor="let language of languages;"> {{language.name}},</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

