<div class="container">
    <div class="back-button">
        <a routerLink="/countries-listing">
            <i class="fas fa-arrow-left"></i>
            Back
        </a>
    </div>

    <div *ngIf="filteredData">
        <div class="whole-country-wrapper">
            <div class="country-image-container">
                <img src="{{(filteredData | async)?.flag}}"alt="">
            </div>



            <div class="filteredData-details-container">
                <div class="left-side-of-filteredData-data">
                    <div class="filteredData-name-heading">
                        <h1>
                            {{(filteredData | async)?.name}}
                        </h1>
                    </div>
                    <p>Native Name: <span> {{(filteredData | async)?.nativeName}}</span></p>
                    <p>Population: <span> {{(filteredData | async)?.population}}</span></p>
                    <p>Region: <span> {{(filteredData | async)?.region}}</span></p>
                    <p>Sub Region: <span> {{(filteredData | async)?.subregion}}</span></p>
                    <p>Capital: <span> {{(filteredData | async)?.capital}}</span></p>
                </div>
                <div class="right-side-of-filteredData-data">
                    <!-- <p>Top Level Domain: <span> {{filteredData?.topLevelDomain[0]}}</span></p>
                    <p>Currencies: <span> {{filteredData?.currencies[0].name}}</span></p> -->
                        <p>Languages: <span *ngFor="let language of languages;"> {{language.name}},</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

